@using ProjectManagementSystem.Service.DTOs.Tasks;
@model IEnumerable<TaskResultDto>;

<div class="row">
    <div class="col-11">
        <h1 class="mb-3 mt-2">Tasks</h1>
    </div>
    <div class="col-1 mt-4">
        <p><a class="btn btn-primary" asp-controller="Task" asp-action="Create" style="background-color: green">Create</a></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            @{
                var id = Model.FirstOrDefault();
            }
            <th>@Html.DisplayNameFor(item => id.Id)</th>
            <th>@Html.DisplayNameFor(item => id.Name)</th>
            <th>@Html.DisplayNameFor(item => id.Description)</th>
            <th>@Html.DisplayNameFor(item => id.DueDate)</th>
            <th>Project Id</th>
            <th>Member Id</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(i => item.Id)
                </th>
                <th>
                    @Html.DisplayFor(i => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(i => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(i => item.DueDate)
                </th>
                <th>
                    @Html.DisplayFor(i => item.Project.Id)
                </th>
                <th>
                    @Html.DisplayFor(i => item.Member.Id)
                </th>
                <th>
                    <p><a class="btn btn-primary" asp-controller="Task" asp-action="Edit" asp-route-id="@item.Id">Edit</a></p>
                </th>
                <th>
                    <form asp-controller="Task" asp-action="Detail" asp-route-id="@item.Id">
                        <button class="btn btn-success btn-rounded mb-3" style="background-color: orange">Detail</button>
                    </form>
                </th>
                <th>
                    <form asp-controller="Task" asp-action="Delete" asp-route-id="@item.Id">
                        <button class="btn btn-success btn-rounded mb-3" style="background-color: red">Delete</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>